{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "@test": "./src/__tests__",
          "@config": "./src/config",
          "@routes": "./core/routes/",
          "@router": "./router/",
          "@models": "./core/models",
          "@controllers": "./core/controllers",
          "@middlewares": "./core/middlewares",
          "@utils": "./src/utils",
          "@shared": "./src/shared",
          "@constants": "./src/shared/constants/"
        }
      }
    ]
  ]
}
